{% extends "layout.html" %}
{% block title %} Playlist Songs - KrystalRhythm {% endblock %}
{% block content %}
<h2>{{ playlist.playlist_name }}</h2>
  
  {% if playlist.songs %}
    <ul>
      {% for song in playlist.songs %}
        <li>{{ song.song_name }} - {{ song.artist_name }}</li>
        <audio controls>
          <source src="{{ url_for('static', filename='songs_upload/' + song.audio_data) }}" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      {% endfor %}
    </ul>
  {% else %}
    <p>No songs in this playlist</p>
  {% endif %}
{% endblock %}